body {
	background: linear-gradient(90deg, #69deff, #ffffff);
	padding: 0;
	margin: 0;
}

div {
	display: flex;
	width: 100%;
	height: 50px;
	background-color: #666;
}

a {
	color: #fff;
	text-decoration: none;
	padding: 0 30px;
	line-height: 50px;
	font-size: 35px;
	font-family: cursive;
}


#menu {
	color: #fff;
	text-decoration: none;
	padding: 0 30px;
	line-height: 50px;
	font-size: 35px;
	font-family: cursive;
}

#menu:hover {
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	background-color: #000;
	color: #fff;
	font-size: 38px;
}

.privet {
	font-size: 50px;
}

p {
	padding: 0 10px;
	display: flex;
	font-size: 35px;
}

.text {
	text-transform: uppercase;
}


img {
	width: 65%;
}

#adobe {
	width: 35%;
}
